<% if (success.length) { %>
 <p style="color: green"><%= success %></p>
<% } %>

<% if (error.length) { %>
 <p style="color: red"><%= error %></p>
<% } %>

<% if (info.length) { %>
 <p style="color: blue"><%= info %></p>
<% } %>

<% if (warning.length) { %>
 <p style="color: yellow"><%= success %></p>
<% } %>