<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header style="display: flex; justify-content: space-between; gap: 1rem">
      <a href="/" style="margin-right: auto">Home</a>
      <% if (user) { %>
      <a href="/dashboard">Dashboard</a>
      <% if (user.role == 'admin') { %>
      <a href="/admin">Admin Menu</a>
      <% } %>
      <span><% if (user) { %>Hi <%= user.firstName %>! <% } %></span>
      <form action="/logout" method="POST">
        <%- include('../partials/csrf') %>
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% } %>
    </header>

    <%- body %>

    <footer></footer>
    <script src="/js/main.js"></script>
  </body>
</html>
